@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

h1 a{
    font-size: 3.5rem;
    color: black;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 2.5rem;
}

h4{
    font-size: 4rem;
}

p{
    font-size: 2.5rem;
}

.centralizar{
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-model{
    max-width: 120rem;
    margin: 0 auto;
    padding: 5.52rem 0;
}

.main-white{
    height: 100vh;
    background-color: #efefef;
}

.menu-fundo{
    background-color: #efefef;
    height: 5.52rem;
    width: 100%;
    padding: 0 5rem 0 5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-first h1 a{
    color: #0066ff;
    text-shadow: 4px 4px rgb(0, 0, 0);
}

.menu-first{
    display: flex;
    align-items: center;
}

.menu-first h1 a img{
    height: 5rem;
    margin-top: 1rem;
}

.main-model ul{
    list-style: none;
    display: flex;
}

.main-model nav ul li a{
    display: block;
    font-size: 2.0rem;
    padding: 1.6rem 2rem 1.6rem 2rem;
    color: black;
    position: relative;
}

.main-model nav ul li a::after{
    content: '';
    left: 0;
    bottom: 1rem;
    height: 0.3rem;
    width: 0%;
    position: absolute;
    background-color: #0066ff;
    transition: all 500ms ease-in-out;
}

.main-model nav ul li a:hover::after{
    width: 100%;
}

.menu-separar{
    border-left: 1px solid grey;
    height: 4.5rem;
    margin: 0.5rem;
}

.capa{
    width: 100%;
    margin-top: 5.52rem;
    height: calc(100vh - 5.52rem);
    display: flex;
    justify-content: center;
    /*background-image: linear-gradient( -45deg, #13293d, #006494, #247ba0, #1b98e0 );
    background-size: 500% 100%;
    animation: degrade 10s infinite alternate;*/
}

/*@keyframes degrade{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 100% 50%;
    }

    100%{
        background-position: 0% 100%;
    }
}*/

.capa-titulo{
    width: 40%;
    background-color: #282828;
    padding: 13% 5% 15% 5%;
}

.capa-titulo h2{
    color: white;
    display: block;
    margin-bottom: 4rem;
    text-align: center;
}

.capa-img{
    width: 60%;
    height: 100%;
    box-shadow: inset 5rem 5rem 13rem rgb(0, 0, 0, 0.5), inset -5rem -5rem 13rem rgb(0, 0, 0, 0.5);
    background-image: url(../img/vecteezy_illustration-design-of-teamwork-brainstorming-and-problem_17012628.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#capa-button{
    padding: 1rem;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    background-color: #007CD6;
}

#capa-button:hover{
    background-color: #0b53bb;
}

hr{
    margin: 3rem 0;
    width: 100%;
}

.main-model h4{
    margin: 2rem 0;
}

.main-model h3{
    margin-top: 3.5rem;
}

.main-sobre{
    width: 60%;
    text-align: center;
}